* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(120deg, red 0%, orange 17%, yellow 34%, lime 50%, cyan 67%, blue 84%, magenta 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
header {
    font-size: 2rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
form button {
    color: #00ff16;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    background: #00ff0a;
    color: white;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 1rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 1s ease;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.filter-todo {
    padding: 1rem;
}
.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: linear-gradient(120deg, magenta 0%, orange 100%);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn {
    background: linear-gradient(120deg, cyan 0%, lime 100%);
}
.todo-item {
    padding: 0rem 1.5rem;
    border-color: white;
    background-color: white;
    border-style: none;
    font-size: 2rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;

}

/* Custom Select */
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
select {
    color: #85ff07;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
}
/* Arrow */
.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #00ffc0;
    cursor: pointer;
    pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/